<div class="wrapper" style="height: auto; min-height: 100%;">
	
	<app-sidebar></app-sidebar>
	<app-header [title] = title></app-header>

	<div class="content-wrapper" style="min-height: 901px;">
		<section class="content-header">
			<h1>Add API</h1>		
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active"><a href="#">Forms</a></li>
			</ol>
		</section>

		<section class="content">
			<form [formGroup] = "settingsForm">
			<div class="row">
				<div class="col-md-10">
					<div id="addapi" class="box box-success">
						<div class="box-header with-border">
						<h3 class="box-title">Add API</h3>
						</div>
						<div class="box-body">
						<div class="row">

							<div class="col-lg-6">
								<h3 class="box-title">Title</h3>
								<div class="row">
									<div class="col-lg-12">
										<input type="text" formControlName="keyTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.keyTitle.errors }" />

										<div *ngIf="submitted && f.keyTitle.errors" class="invalid-feedback">
							            	<div *ngIf="f.keyTitle.errors.required">Key title is required</div>
							        	</div>
									</div>
								</div>
							</div>
						<!-- /.form group -->
						</div>

						<div class="row">

							<div class="col-lg-6">
								<h3 class="box-title">Key</h3>
								<div class="row">
									<div class="col-lg-12">
										<input type="text" formControlName="metaKey" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.metaKey.errors }" />
										<div *ngIf="submitted && f.metaKey.errors" class="invalid-feedback">
								            <div *ngIf="f.metaKey.errors.required">Meta key is required</div>
								        </div>
									</div>
								</div>
							</div>
						<!-- /.form group -->
						</div>

						<div class="row">

							<div class="col-lg-6">
								<h3 class="box-title">Value</h3>
								<div class="row">
									<div class="col-lg-12">
										<textarea  formControlName="matrixapikey" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matrixapikey.errors }"></textarea>
										<div *ngIf="submitted && f.matrixapikey.errors" class="invalid-feedback">
								            <div *ngIf="f.matrixapikey.errors.required">Value is required</div>
								        </div>
									</div>
								</div>
							</div>
						<!-- /.form group -->
						</div>

						

						</div>
						<!-- /.box-body -->
					</div>
						<!-- /.box -->
				</div>

			</div>
			<div class="row">
			<div class="col-lg-10 text-right">
			
			<button type="button" (click)="saveAPI()" class="btn bg-olive btn-flat margin">Add</button>
			</div>
			</div>
		</form>

			<!-- api list start -->

			<div class="row">
<div class="col-md-10">

<div class="box box-success">
<div class="box-header with-border">
<h3 class="box-title">API List</h3>
</div>
<div class="box-body">
<div class="row" style="overflow: hidden;">


<table  class="table">
<thead class="thead-inverse" style="color:#fff; background-color:#00a65a">
<tr>
<th>Title</th>
<th data-th="Details"><span>Key</span></th>
<th data-th="Details"><span>Value</span></th>
<th>Action</th>

</tr>
</thead>
<tr *ngFor="let setApi of apis.data; index as i">
<!-- <td>{{packageType.packageTypeId}}</td> -->
<td [textContent]="setApi.keyTitle"></td>
<td [textContent]="setApi.metaKey"> </td>
<td style="word-break: break-word" [textContent]="setApi.matrixapikey"> </td>
<td>

<a *ngIf="setApi.metaKey == 'lazada_webhook_token'" class="btn btn-info" (click)="generateALzWebHookToken()">Generate Token</a>

<a  (click)="setAApi(setApi)"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;&nbsp;
<a  (click)="deleteSetting(setApi.id)"><span class="glyphicon glyphicon-trash"></span></a>
</td>
</tr>
<tr *ngIf="apis.data.length==0">
<td colspan="3">
<h4 align="center">No API Found</h4>
</td>
</tr>

</table>
</div>
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->

</div>
<!-- /.col (left) -->
</div>



		</section>



	</div>

</div>


<app-footer></app-footer>