<div class="wrapper" style="height: auto; min-height: 100%;">
	
	<app-sidebar></app-sidebar>
	<app-header [title] = title></app-header>

	<div class="content-wrapper" style="min-height: 901px;">
		<section class="content-header"></section>

		<section class="content">

		</section>



	</div>

</div>

<app-footer></app-footer>