<div class="wrapper" style="height: auto; min-height: 100%;">
	
	<app-sidebar></app-sidebar>
	<app-header [title] = title></app-header>

	<div class="content-wrapper" style="min-height: 901px;">
		<section class="content-header">
			<h1>Add A Zone</h1>		
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active"><a href="#">Forms</a></li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-md-10">
					<div id="addapi" class="box box-success">
						<div class="box-header with-border">
						<h3 class="box-title">Add A Zone</h3>
						</div>
						<div class="box-body">
						

<!-- ng-options="item.id as item.companyName+' ('+item.login+') ' for item in userListByRole" -->						
<div id="addAZone">

<div class="col-lg-12 box-header with-border">
<div id="consumerZoneList" class="col-lg-12">
<form [formGroup] = "createZoneForm" class="form-inline">

<label for="consumer">Business:</label>
<select (change)="getZonesByBusiness()" formControlName="uId"  class="form-control">
	<option value="" disabled selected>---- Select business ----</option>
	<option *ngFor="let item of userListByRole" [ngValue] = "item.id">{{item.companyName}} ({{item.login}})</option>
</select>          

<label for="zone_name">Zone Name:</label>
<input type="text" class="form-control" formControlName="zoneName">


<button type="button" (click)="addAZone()" class="btn bg-olive btn-flat">Add Zone</button>
</form>


</div>
<div class="col-lg-4"><span data-ng-class="{'text-success':msgType == 'success','text-danger':msgType == 'error'}" data-ng-bind="msg"></span></div>





</div>


</div>
						

						

						</div>
						<!-- /.box-body -->
					</div>
						<!-- /.box -->
				</div>

			</div>


			<div class="col-md-12">

<div class="box box-success">
<div class="box-header with-border">
<h3 class="box-title">Zone List</h3>
<span data-ng-class="{'text-success':msgUpdateType == 'success','text-danger':msgUpdateType == 'error'}" data-ng-bind="msgUpdate"></span>

</div>

<div id="zoneList" class="box-body">

<table class="table">
<thead class="thead-inverse" style="color:#fff; background-color:#00a65a">
<tr>
<th>Business</th>
<th>Zone Name</th>
<th>Action</th>

</tr>
</thead>
<tr *ngFor="let zone of zoneList; index as i">
<td [textContent]="zone.user.companyName"></td>
<td [textContent] = "zone.zoneName">
<!-- <input class="form-control" ng-blur="updateZone(zone)"  placeholder="Zone Name" type="text" ng-model="zone.zoneName" ng-init="isFieldEnbn=true"> -->
</td>
<td>

<div class="dropdown">
  <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action List
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a data-target="#zipsInZoneModal" data-toggle="modal"  (click)="viewZone(zone.zoneName, zone.zoneId);">View this zone</a></li>
    <li><a data-target="#editZoneModal" data-toggle="modal"  (click)="editZone(zone);">Edit this zone</a></li>
    <li><a  (click)="readZone(zone.zoneName,zone.zoneId)"><span class="glyphicon glyphicon-floppy-save"></span> Add Postal Codes</a></li>
    <li><a (click)="deleteAZone(zone.zoneId,uId)"><span class="glyphicon glyphicon-trash"></span> Delete this zone</a></li>
  </ul>
</div>


<!-- <a href="#" ng-click="isFieldEnbn=false"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;&nbsp;
<a href="#" ng-click="deleteAZone(zone.zoneId,uId)"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;
<a href="#" ng-click="readZone(zone.zoneName,zone.zoneId)"><span class="glyphicon glyphicon-floppy-save"></span></a>
<a href="#" ng-click="viewZone(zone.zoneName, zone.zoneId);">View</a> -->
</td>
</tr>
<!-- <tr *ngIf="zoneList.length==0">
<td colspan="3">
<h4 align="center">No Zone Found</h4>
</td>
</tr> -->

</table>

</div>
<!-- /.box-body -->
</div>
<!-- /.box -->



</div>

<div class="col-md-12">
	<div class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">Add postal codes to a Zone</h3>
			<span data-ng-class="{'text-success':msgUpdateType == 'success','text-danger':msgUpdateType == 'error'}" data-ng-bind="msgUpdate"></span>
		</div>
		<div class="box-body">
			<div class="col-lg-12 box-header with-border">
				<div class="col-lg-12">
					<form [formGroup] = "addPostalForm" class="form-inline">
					<div class="col-sm-12">
						<div class="col-sm-6">
							<label class="col-sm-12" for="zone_name">Zone Name:</label>
							<input style="width: 100%" type="text" class="form-control col-sm-12" formControlName="zoneName">
						</div>
						<div class="col-sm-6">
							<label class="col-sm-12" for="consumer">District:</label>
							<select style="width: 100%" formControlName="district"  class="form-control col-sm-12">
								<option value="" disabled selected>---- Select District ----</option>
								<option *ngFor="let item of districtList" [ngValue] = "item">{{item}}</option>
							</select> 
						</div>
					</div>

					<div class="col-sm-12">
						<div class="col-sm-6">
							<label for="zone_name">Sub district:</label>
							<ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown> 
						</div>
						<div class="col-sm-6">
							<!-- <label for="consumer">Business:</label>
							<select formControlName="district"  class="form-control">
								<option value="" disabled selected>---- Select business ----</option>
								
							</select>  -->
						</div>
					</div>

					</form>
				</div>
			</div>

		</div>





	</div>


</div>



<div class="modal" id="zipsInZoneModal">
<div class="modal-dialog">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">{{zoneTitle}}: Zone Details</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body" id="zoneData">
<table class="table">
<tr><td class="hidden-xs">S.No.</td><td>Postal Code</td><td>Village</td><td>Sub district</td><td class="hidden-xs">District</td><td></td></tr>
<tr><td *ngIf="das" style="text-align: center; font-size: 22px;" colspan="5">Loading data...</td></tr>
<tr *ngFor="let z of zoneData; index as i">
<td class="hidden-xs">{{i + 1}}</td><td>{{z.zipcodes.zipcode}}</td><td>{{z.zipcodes.village}}</td><td>{{z.zipcodes.subdistrict}}</td><td class="hidden-xs">{{z.zipcodes.district}}</td><td><a  (click)="deleteZipZoneMapping(z.zones.zoneId, z.zoneId)"><span class="glyphicon glyphicon-trash"></span></a></td>
</tr>
</table>

<!-- <div data-ng-hide="das" id="map" style="height:300px;"></div> -->

</div>



</div>
</div>
</div>
			

			


		</section>



	</div>

</div>

<div class="modal" id="editZoneModal">
<div class="modal-dialog">
<div class="modal-content">

	<!-- Modal Header -->
	<div class="modal-header">
	<h4 class="modal-title">{{ zoneName }}: Zone Details</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>

	<!-- Modal body -->
	<div class="modal-body"  id="zoneData">
		<form [formGroup] = "editZoneForm" class="form-inline" >
		<input class="form-control"  placeholder="Zone Name" type="text" formControlName="zoneName">
		<input type="hidden" formControlName="zoneId">
		<button type="button" (click)="editAZone()" class="btn bg-olive btn-flat">Edit Zone</button>
		</form>
		
		<span [ngClass] = "{'text-success':msgUpdateType == 'success','text-danger':msgUpdateType == 'error'}"  [textContent]="msgUpdate"></span>
	</div>
</div>
</div>
</div>




<div id="loader" [ngStyle] = "{ 'visibility' : (isLoader==true)?'visible':'hidden' }" >
<div style="position: absolute;left: 40%;top: 25%;z-index: 5;">
<img src="assets/images/loader.gif" alt="" />
</div>
<!-- overlay div -->
<div style="position : fixed; background-color: #b5d49e; opacity: 0.3; width:100%; height:100%; z-index: 4;left: 0;top: 0; ">
</div>
</div>


<app-footer></app-footer>