<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" style="height: auto;">
<!-- Sidebar user panel -->
<div class="user-panel">
<div class="pull-left image">
<img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
<p>Admin</p>

</div>
</div>

<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu tree" data-widget="tree">
<!-- ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a [routerLink]="['/settings.html']" style="background-color:#5d5c5c">
<i class="fa fa-dashboard"></i> <span ng-bind="menu.name" class="ng-binding">Settings</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a [routerLink]="['/live-orders.html']" style="backgroud-color:#333">
<i class="fa fa-dashboard"></i> <span ng-bind="menu.name" class="ng-binding">Live Orders</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="admindashborad.html" style="backgroud-color:#333">
<i class="fa fa-dashboard"></i> <span ng-bind="menu.name" class="ng-binding">Delivery Statistics</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="appointment-slots.html" style="backgroud-color:#333">
<i class="fa fa-dashboard"></i> <span ng-bind="menu.name" class="ng-binding">Add Appointment Slot</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a [routerLink]="['/create-zone.html']" style="backgroud-color:#333">
<i class="fa fa-dashboard"></i> <span ng-bind="menu.name" class="ng-binding">Create a Zone</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="generatedRoute.html" style="backgroud-color:#333">
<i class="fa fa-dashboard"></i> <span ng-bind="menu.name" class="ng-binding">Generated Route</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="updatePackage.html" style="backgroud-color:#333">
<i class="glyphicon glyphicon-calendar"></i> <span ng-bind="menu.name" class="ng-binding">Update Custom Package</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="availableVehicle.html" style="backgroud-color:#333">
<i class="glyphicon glyphicon-calendar"></i> <span ng-bind="menu.name" class="ng-binding">Set Vehicle Availability</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="userlist.html" style="backgroud-color:#333">
<i class="glyphicon glyphicon-calendar"></i> <span ng-bind="menu.name" class="ng-binding">User List</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="driver-list.html" style="backgroud-color:#333">
<i class="fa fa-taxi"></i> <span ng-bind="menu.name" class="ng-binding">Drivers</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="scanners.html" style="backgroud-color:#333">
<i class="fa fa-taxi"></i> <span ng-bind="menu.name" class="ng-binding">Scanners</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="regenerateRoute.html" style="backgroud-color:#333">
<i class="glyphicon glyphicon-calendar"></i> <span ng-bind="menu.name" class="ng-binding">Regenerate ETA Points</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="check-orders.html" style="backgroud-color:#333">
<i class="glyphicon glyphicon-calendar"></i> <span ng-bind="menu.name" class="ng-binding">Check Pre Orders</span>
</a>
</li><!-- end ngRepeat: menu in menuList --><li ng-repeat="menu in menuList" class="ng-scope">
<a href="orders.html" style="backgroud-color:#333">
<i class="glyphicon glyphicon-calendar"></i> <span ng-bind="menu.name" class="ng-binding">Order Status</span>
</a>
</li><!-- end ngRepeat: menu in menuList -->



</ul>
</section>
<!-- /.sidebar -->
</aside>